.trip__back-to-trips-button {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  border-radius: 4px;
}

.trip__back-to-trips-button:hover {
  color: #706f6f;
}

.trip__back-to-trips-button span {
  margin: 2px;
}
