.itinerary-entry {
  background-color: #ebfafe;
  border: 2px solid #706f6f;
  border-radius: 0.8rem;
  min-width: min-content;
  height: 100px;
  margin: 0.75rem;
  padding: 0.75rem;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.45);
  position: relative;
}

.itinerary-entry:hover {
  background-color: #c3f1fd;
}

/* remove underline from trip-summary__name and trip-summary__dates*/
/* a {
  text-decoration: none;
} */

.itinerary-entry-item {
  list-style: none;
  margin-left: 1rem;
}

.itinerary-entry__name,
.itinerary-entry__times,
.itinerary-entry__activity_type,
.itinerary-entry__price,
.itinerary-entry__location {
  font-size: 1rem;
  color: darkslategray;
  text-decoration: none;
  list-style: none;
}

.itinerary-entry__name:hover {
  cursor: pointer;
}

.itinerary-entry__delete-button {
  padding: 5px;
  font-size: 2.5rem;
  color: #000000;
  position: absolute;
  bottom: 10%;
  right: 0;
  margin-right: 10px;
}

.itinerary-entry__edit-button {
  padding: 5px;
  font-size: 2.2rem;
  color: #000000;
  position: absolute;
  top: 10%;
  right: 0;
  margin-right: 10px;
}

.itinerary-entry__drag-button {
  padding: 5px;
  color: #000000;
  font-size: 2rem;
  position: absolute;
  top: 30%;
  left: -3rem;
  margin-left: 10px;
  cursor: pointer;
}

.itinerary-entry__drag-button:hover {
  color: #706f6f;
  cursor: pointer;
}

.itinerary-entry__edit-button:hover {
  color: #706f6f;
  cursor: pointer;
}

.itinerary-entry__delete-button:hover {
  color: #706f6f;
  cursor: pointer;
}

.itinerary-entry__activity-icon {
  padding: 5px;
  font-size: 2.5rem;
  /* color: #000000; */
  color: #706f6f;
  position: absolute;
  bottom: 10%;
  right: 0;
  margin-right: 50px;
}
