.trip-form.active {
    visibility: visible;
}

.trip-form {
    background-color: #EBFAFE;
    padding: 50px;
    border-radius: 20px;
    border: 5px dotted black;
    margin: 50px;
    position: absolute;
    top: 50px;
    bottom: 20px;
    right: 50px;
    left: 50px;
    visibility: hidden;
    z-index: 1000;
}

.trip-form input {
    border-radius: .3rem;
    margin: .5rem;
    padding: .5rem;
    border: 2px solid #706F6F;
    box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.45);
}


.close-form-button {
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 3rem;
    color: #000000;
    margin: 0 0 0 auto;
    display: block;
}

.close-form-button:hover {
    color: #706F6F
}

#trip-form-submit-button {
    cursor: pointer;
}