.trip-summary {
    background-color: #EBFAFE;
    border: 2px solid #706F6F;
    border-radius: .8rem;
    min-width: min-content;
    height: 70px;
    margin: .5rem;
    padding: .5rem;
    box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.45);
    position: relative;
}

.trip-summary:hover {
    background-color: #C3F1FD;
}

/* remove underline from trip-summary__name and trip-summary__dates*/
a {
    text-decoration: none;
}

.trip-summary-item {
    list-style: none;
}

.trip-summary__name {
    font-size: 1.5rem;
    color: darkslategray;
    text-decoration: none;
}

.trip-summary__name:hover {
    cursor: pointer;
    /* color: #F391A0; */
}


.trip-summary__dates {
    font-size: 1rem;
    color: darkslategray;
}

.trip-summary__delete-button {
    padding: 5px;
    border-radius: 30px;
    font-size: 3rem;
    color: #000000;
    position: absolute;
    top: 12%;
    right: 0;
    margin-right: 10px;
}

.trip-summary__delete-button:hover {
    color: #706F6F;
    cursor: pointer;
}