* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.trips,
.account-settings,
.more {
  display: flex;
  height: 90vh;
  align-items: top; /*vertical alignment*/
  margin: 25px 25px 40px 25px; /*margin: top right bottom left*/
  justify-content: left; /* horizontal alignment */
  font-size: 1.5rem;
}

.trip {
  margin: 25px 25px 40px 25px;
}

.home {
  background-color: purple;
}

.trips h1 {
  color: #f391a0;
  /* color: #706F6F; */
}

footer {
  border-top: 1px solid #c5c5c5;
  position: fixed;
  width: 100%;
  margin-top: 20px;
  bottom: 0;
  padding: 10px;
  background-color: #ffffff;
  /* z-index: 999; */
}
